/.venv
/chunk1.csv
/chunk1.hdf5
/chunk2.csv
/chunk2.hdf5
/cleaned_batches
/dataextraction.py
/earthquake_dataset_large.csv
/earthquake_dataset_partial.csv
/labels_encoded.npy
/load.py
/merged.csv
/merged.hdf5
/model_best.keras
/newaprilfourteen.ipynb
/test.csv
/waveforms.npy
/waveforms_preprocessed.npy
/X_test.npy
/X_train.npy
/X_val.npy
/y_test.npy
/y_train.npy
/y_val.npy
/__pycache__